[Unit]
Description=Set SELinux chcon for hostpath-provisioner
Before=kubelet.service

[Service]
ExecStart=/usr/bin/chcon -Rt container_file_t /var/hpvolumes

[Install]
WantedBy=multi-user.target
